.navbar {
    background-color: #062f7a;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .navbar a {
    float: left;
    display: block;
    color: #1DCDFE;
    text-align: center;
    padding: 14px 19px;
    text-decoration: none;
    font-size: 19px;
  }
  
  /* Change the color of links on hover */
  .navbar a:hover {
    background-color: rgb(32, 30, 30);
    color: #ffffff;
  }
  
  /* Add an active class to highlight the current page */
  .navbar a.active {
    background-color: #a6b3ae;
    color: white;
  }

  .navbar .navbar-brand  {

    max-height: 500px;
    font-weight: bold;

}

.btn {
  display: block;
  width: 70%;
  height: 70%;
  font-weight: bold;
  margin-left: 240px;
  padding: 28px 28px;
  border-color: rgb(14, 13, 13);
  background-origin: padding-box;
  border-width: 2px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 9px #999;
}
.btn:hover {background-color: #656072}

.btn:active {
  background-color: #d19a66;
  box-shadow: 0 5px rgb(189, 94, 94);
  transform: translateY(4px);
}

  