<!DOCTYPE html>
<html>
<head>
    <title>AboutCovid19</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/aboutcovid.css">
</head>
<body> 

  </div>
  <div class="quotes">
    <div class="card">
      <div class="box box1">
        <p>COVID-19 is the infectious disease caused by the most recently
          discovered corona virus. This new virus and disease were unknown
          before the outbreak began in Wuhan, China, in December 2019.</p>
        <a href="new" class="btn1">Covid 19</a>
      </div>
      <div class="bg"></div>
    </div>
    <div class="card">
      <div class="box box2">
        <p> Along with covid, there are various type of fungus that are spreading. On coming in touch, the fungus can stick to a body part, and after a point travel inward through the nose, sinus or lungs.
</p>
        <a href="fungus" class="btn1">Fungus</a>
      </div>
      <div class="bg"></div>
    </div>
    <div class="card">
      <div class="box box3">
        <p> Although most people with COVID-19 get better within weeks of illness, some people experience post-COVID conditions. Post-COVID conditions are a wide range of new, returning, or ongoing health problems people can experience more than four weeks after first being infected with the virus that causes COVID-19. </p>
        <a href="postcovid" class="btn1">Post Covid19</a>
      </div>
      <div class="bg"></div>
    </div>
    
  </div>

</body>
</html>

