<!DOCTYPE html>
<html>
<head>
    <title>Guidelines</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/content.css">
</head>
<body> 
  <div class="quotes">
    <div class="card">
      <div class="box box1">
        <p> Things to do and know to keep your immunity strong .</p>
        <a href="tile" class="btn1">Immunity Booster</a>
      </div>
      <div class="bg"></div>
    </div>
    <div class="card">
      <div class="box box2">
        <p> What to do before/after getting vaccinated</p>
        <a href="vaccine" class="btn1">Vaccination</a>
      </div>
      <div class="bg"></div>
    </div>
    <div class="card">
      <div class="box box3">
        <p>These are the guidelines to be followed to prevent the spread of covid 19</p>
        <a href="guidelines" class="btn1">Protocols</a>


      </div>
      <div class="bg"></div>
    </div>
  </div>

</body>
</html>

