<!DOCTYPE html>
<html>
<head>
    <title>Help</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/help.css">
</head>
<body> 
  <div class="quotes">
    <div class="card">
      <div class="box box1">
        <p>In these times everyone should come forward and work together in helping each other</p>
        <a href="" class="btn1">Let's help each other</a>
      </div>
      <div class="bg"></div>
    </div>
    <div class="card">
      <div class="box box2">
        <p>  These are a list of organisations from which you can seek help</p>
        <a href="" class="btn1">Organisations For Help</a>
      </div>
      <div class="bg"></div>
    </div>
    
  </div>

</body>
</html>

