<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hospitals List</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/hospital.css">
</head>
<body>
     <div class="container">
       <div class="card">
         <div class="face face1">
           <div class="content">
             <h2>Central Government</h2>
             <p>Central Government affiliated hospital names along with their contact information (state-wise)</p>
             <a href="https://covidwarriors.gov.in/covid_Hospital_statewise.aspx?orgid=59">Know More</a>
           </div>
         </div>
         <div class="face face2">
           <h2>01</h2>
           <h2>

           </h2>
         </div>
       </div>
       <div class="card">
        <div class="face face1">
          <div class="content">
            <h2>State Government</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error illum ad dolor laudantium enim ipsa libero adipisci culpa</p>
            <a href="#">Read More</a>
          </div>
        </div>
        <div class="face face2">
          <h2>02</h2>
        </div>
      </div>
    
        </div>
      </div>
     </div>
</body>
</html>

