<!DOCTYPE html>
<html lang="en">
<head>
  <title>Help Organisation</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body> 
    <div class="about text-center"> <h1> These NGOs are helping people deal with mental health issues amid the coronavirus pandemic</h1></div>
         <div class="col-sm-8 py-2">
        
         
         </div>
    <p>
        <p>The outbreak of coronavirus has not only taken a toll on people’s physical health, but also their state of mind. With most individuals isolating themselves after being constantly exposed to the news surrounding coronavirus, stress and anxiety are on the rise. Various health experts have reported a steep increase in this percentage during the present lockdown. A recent survey conducted by the Indian Psychiatry Society (IPS) has even validated a 20 percent rise in the number of mental health cases after the coronavirus pandemic broke out. 

            In order to provide support to people during these trying times, several non-governmental organisations (NGOs) have stepped up their efforts. A few of them are : </p>




        <a href="https://www.mindsfoundation.org/"><h5>1. Minds Foundation :</h5></a> Established in 2011, the Minds Foundation has been focussing on pushing aside the stigma surrounding mental illness, through education, awareness, and provision of necessary care. With the help of community-led initiatives and a slew of collaborations with teachers, local leaders, and clinicians, the organisation has managed to back over 2.5 lakh individuals fighting mental illnesses. 

<a href="https://www.neptunefoundation.com/"><h5>2. Neptune Foundation :</h5></a> Neptune Foundation was born in Mumbai in 2010. The organisation is mainly engaged in identifying homeless people with mental illnesses and then helping them by arranging for shelter, essential commodities, and treatment.

The volunteers of the foundation also make efforts to reunite these individuals with their families. 
The organisation has rescued more than 313 destitutes and 55 elderly people in the last few years. And now, amid the coronavirus lockdown, Neptune Foundation has sprung into action by launching helpline numbers for people to reach out to in case they face any stress or anxiety while spending time indoors. 

<a href="https://thebanyan.org/aboutus/"><h5>3. The Banyan:</h5></a> The Banyan has been in existence in Chennai since 1993, and has since come up with a host of holistic mental health solutions to deal with different components of distress. Their programmes are very comprehensive and include medical, psychiatric, psychological, and social care.

For this, the organisation has tied up with various hospitals, shelter homes, as well as community-based outpatient outlets. 
During the coronavirus crisis, the NGO has been working towards spreading awareness on self-care and hygiene practices through videos and podcasts.

<a href="https://diyaindia.org/"><h5>4. Diya:</h5></a> The motto of Diya Foundation has been to enable differently-abled people and mentally-challenged individuals to lead a life of dignity by training them in different vocational skills and building support systems for them. 

The Delhi-based NGO recently organised a musical event wherein diyas and torch lights were lit to bring about an awareness about coronavirus among people and also ward off the darkness of the uncertain times. Besides this, the organisation has put up various posts on its website and social media handles with an aim to emphasise the importance of social distancing. 

<a href="https://www.thelivelovelaughfoundation.org/"><h5>5. The Live Love Laugh Foundation (TLLLF) :</h5></a>
Founded in 2015 by actor Deepika Padukone, the Live Love Laugh Foundation aims to give hope to every person experiencing stress, anxiety, and depression. The Foundation utilizes its visibility and large network to create awareness, normalize conversations and reduce the stigma associated with mental illness. It combines knowledge and domain expertise to carefully curate and disseminate information that is easily consumable to any kind of audience. 
<a href="https://www.mindroot.org//"><h5>6. Mindroot Foundation</h5></a>

The Mindroot Foundation was established in 2016 in Jaipur, Rajasthan, to combat mental health and substance use disorders. The Foundation conducts programmes to improve mental health awareness and create openness about related disorders, for the benefit of the patients as well as the society.

Mindroot also organises seminars, workshops and events to educate about mental well-being. Focus groups including school students, villagers, professionals in banks, etc. are given necessary training to increase their quality of life. It also has a platform for sufferers to share their stories and offers effective strategies to combat issues.

<a href="https://www.lonepack.org/#home"><h5>7. LonePack:</h5></a> A youth-led community movement, LonePack was started by a group of engineering students to create awareness and combat mental health issues among the Indian youth. The NGO organises campaigns, events and workshops in schools, colleges and corporates to raise awareness on the importance of mental wellness. It has worked with organisations like Uber, Sathyam cinemas, Zoho, Freshworks, SRM, DAV Group of Schools, etc in the past two years and has an outreach of over 40,000 people across the country. 

It offers an anonymous peer-to-peer support system that provides a safe space for people to open up about their issues. LonePack’s motto is to make mental health accessible to all.

<a href="https://www.ashadeepindia.org/"><h5>8. Ashadeep:</h5></a> Founded in 1996, Ashadeep’s mission is to help persons with mental disorders and their families through local rehabilitation facilities in the North Eastern states of India. Over 360 individuals suffering from mental illness and intellectual disability have received therapy, education, training in sports and vocational activities in the Ashadeep Day Rehabilitation Centre. 650 homeless mentally ill persons have been housed and treated in rehabilitation homes, of which 550 have been reintegrated with their families. 1,200 individuals in Guwahati and over 2,000 in rural areas of Assam have benefited through its Outdoor Psychiatric Clinic and Outreach Camps. 

<a href="https://www.arpan.org.in/mental-health-support-covid-19/"><h5>9. Arpan :</h5></a> In case you are feeling anxious, lonely, sad or scared because of the COVID-19 outbreak or related news, we are here for you. Arpan is extending its counselling services entirely free of cost beyond issues related to Child Sexual Abuse to provide counselling and parenting support for those affected by COVID-19.

<a href="https://sangath.in/who-we-are/"><h5>10. Sangath :</h5></a> We are a not-for-profit organisation working in Goa, India for 24 years to make mental health services accessible and affordable. Sangath is committed to improving access to mental health across the age spectrum and we believe this is best achieved by empowering the community. We endeavour to address the psychological and social needs of those in our care through holistic interventions that take care of their bodies as well as their minds.
    </p>
 
    
        </div> 

</body>