<!DOCTYPE html>
<html lang="en">
<head>
  <title>Help Organisation</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body style="background-color: rgb(169, 233, 163);"> 

    <div class="about text-center" > <h1> Organisations involved in Covid-19 relief work</h1></div>
         <div class="col-sm-12 py-2"></div>
    <p class="xyz" style="font-size:larger;">
        <p>As India reels under the coronavirus disease (Covid-19) pandemic, some organisations are stepping up to help people find the supplies they need like medicines and oxygen and are even running donation campaigns for the same. </p>




        <a href="https://milaap.org/"><h5>1. Milaap:</h5></a> This Bengaluru-based fundraising organisation has over 21,400 followers on Twitter. It posts about people in need of money for treatment or procurement of medical facilities, including those with Covid-19.

<a href="https://www.giveindia.org/"><h5>2. GiveIndia:</h5></a> This is a non profit organisation also based out of Bengaluru. This too, is a donation platform with over 578,000 followers on Twitter.

<a href="https://www.udayfoundation.org/"><h5>3. Uday Foundation:</h5></a> Uday Foundation is also a health and humanitarian assistance and relief foundation that shares SOS messages and verified leads on where to find Covid-19 resources with its over 746,800 followers on Twitter. It is based out of New Delhi.

<a href="https://www.oxfamindia.org/"><h5>4. Oxfam India:</h5></a> A non-profit organisation that is known for its work in the field of child education, empowering women and fighting against inequality in India, Oxfam India has also devoted itself to the fight against Covid-19. It has over 269,400 followers on Twitter and is based out of New Delhi.

<a href="https://goonj.org/"><h5>5. Goonj:</h5></a> Goonj undertakes disaster relief, humanitarian aid and community development in parts of 23 states across India. In its COVID-19 relief mission, it has reached out to over 17,000 families and individuals with ration kits supported 12 community kitchens and distributed more than 77,000 cooked meals thus far. Beneficiaries include migrant labourers, tea garden workers, rag pickers, transgenders, sex workers, elderly and remote tribal villagers. It is also supporting old age homes, hospitals, settlements, etc with ration and personal care kits.
<a href="https://habitatindia.org/"><h5>6. Habitat for Humanity</h5></a>

Founded in 1983, Habitat for Humanity is one of the largest housing programmes in the Asia-Pacific region. Currently, in response to the COVID-19 outbreak, the team has been raising awareness on the importance of hygiene and supporting individuals and families by providing hygiene kits.

<a href="https://www.rapidresponse.org.in/"><h5>7. Rapid Response:</h5></a> This organisation, also based out of New Delhi, is a disaster relief NGO which works for Covid-19 relief as well. It has set up a relief fund to help the community, especially the marginalised, cope with the medical supply and treatment cost. The organisation has over 14,400 followers on Twitter.

<a href="https://www.giveindia.org/nonprofit/actionaid-association"><h5>8. Actionaid India:</h5></a> ActionAid Association India is part of ActionAid International that has a presence in over 40 countries. With vast experience in responding to emergency situations, this non-profit has responded to the current crisis by supporting the most vulnerable communities across 171 districts in 21 states. Over 87000 families have been provided dry ration, 57000 with sanitary and dignity kits and over 3,00,000 individuals have received cooked meals. Action Aid plans to deliver support material to 80,00,000 more people.

<a href="https://www.akshayapatra.org/"><h5>9. The Akshaya Patra Foundation:</h5></a> Known for its school lunch programme across India, Akshaya Patra has started a COVID-19 relief service. As of today, it has distributed 1,06,55,875 cooked meals & 4,12,231 grocery kits to people from low-income groups in Rajasthan, Karnataka, Telangana, Gujarat, Maharashtra, NCR, Uttar Pradesh, Andhra Pradesh, Tamil Nadu, Chhattisgarh, Odisha, Assam, Madhya Pradesh, Uttarakhand, Tripura and West Bengal.

<a href="https://www.ekamoneness.org/"><h5>10. Ekam Foundation :</h5></a> Ekam works to provide children with quality healthcare regardless of his/her financial means. Started in 2007, in its fight against the coronavirus, Ekam is helping government hospitals and medical colleges with quarantine wards meet the huge requirement for critical care items such as masks, surgical gloves, gowns, medical aprons, disposable goggles, hand washing liquid soap bottles, face-shield, etc.
    </p>
    <h6>You can boost their efforts by supporting them through donations. These NGOs can do much more with your generous support through an online donation in this critical situation. You can make a big difference. Please join the movement to fight COVID-19 and ensure no one is left behind.
        To donate click on <a href="https://covid.giveindia.org/">Donate Now</a>
    </h6>
        </div> 

</body>