
<!DOCTYPE HTML>
<html lang="en-US">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
      <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="../static/css/postcovid.css">
      <title>PostCovid19</title>
   </head>
   <body>

      <div class="section-container">
         <div class="columns image" style="background-image:url('../static/images/postcovid1.jpg')">
            &nbsp;
         </div>
         <div class="columns content">
            <div class="content-container">
               <h1>Recovered from Covid-19? Here's what you should do and keep in mind</h1>
             <h5>When can we say that a Covid-19 patient is cured and can resume normal life?</h5>
               <p>
                Dr Syamasis Bandyopadhyay, Senior Consultant Physician and Rheumatologist, Director Medical Services, Apollo Hospitals,
                 said if a Covid-19 patient has ILI (Influenza-like illness) symptoms,
                  then within 10 days of onset of symptoms he becomes non-infectious.
               </p>
               <p>
                "After 17 days from the onset of symptoms, he can resume normal activities while maintaining Covid-appropriate behaviour. 
                For SARI (severe acute respiratory infection) cases,
                 the patient becomes non-infectious after 20 days and he/she can resume normal 
                 life depending on the extent of their lung damage and other issues,"
               </p>
            
            </div>
         </div>
      </div>
      <div class="section-container">
         <div class="columns content">
            <div class="content-container">
              
                 <h5>Why are some people seeing post-Covid complications?</h5>
                 <p>
                    Covid-19 is a viral illness which, unlike many other viral illnesses, 
                    has the potential to cause long-term sequelae involving multiple organs, especially the lungs.
                 </p>
                 <p>
                    Available data indicates that about a quarter of those with Covid-19 suffer from symptoms 4-5 weeks after testing positive,
                     and about 1 in 10 experience symptoms after 12 weeks, Dr Abhishek Bansal, Director (Dept of Orthopaedics), Diyos Hospital,
                 </p>
                 <p>
                    "While there is no conclusive evidence, people may experience post-Covid conditions due to persistence of 
                    the virus in some parts of the body that are sheltered from the immune system," Dr Bansal said. 
                 </p>
              
            </div>
         </div>
         <div class="columns image" style="background-image:url('../static/images/pc6.jpg')">
            &nbsp;
         </div>
      </div>
      <div class="section-container">
         <div class="columns image" style="background-image:url('../static/images/Post-Covid-Complications.jpg')">
            &nbsp;
         </div>
         <div class="columns content">
            <div class="content-container">
               <h5>What complications may arise after I get cured of Covid-19?</h5>
               <p>
                Covid-19 is known to affect multiple organs and body systems, including heart and blood vessels, 
                lungs, kidneys, skin, brain and nerves.
               </p>
               <p>
                Some of the warning signs of lingering Covid conditions are continuous shortness of breath, chest pain,
                 breathing trouble, reappearance of fever, fatigue, painful joints or muscles and dizziness on standing, said Dr Syamasis Bandyopadhyay.
               </p>
               <p>
                "This virus has the potential to directly involve lung cells, leading to lung fibrosis.
                 They stimulate the fibroblasts, causing fibrosis of the lungs and that is a tripling problem.
                 That is, you land up with a 'triple lung', leading to fatigue and you always pant for breath," 
               </p>
            </div>
         </div>
      </div>
      <div class="section-container">
         <div class="columns content">
            <div class="content-container">
               <h5>What has the Health Ministry recommended as post-Covid management protocol?</h5>
               <p>
                In its post-Covid management protocol, the Health Ministry says the first follow-up visit
                 (physical/telephonic) for a recovered patient should be within seven days after discharge.
             </p>
             <p>
                "Subsequent treatment/follow-up visits may be with the nearest qualified allopathic/AYUSH practitioner/medical
                 facility of other systems of medicine.
                  Poly-therapy (use of multiple medications) is to be avoided due to the potential for unknown drug-drug interaction,
                 which may lead to Serious Adverse Events (SAE) or Adverse Effects (AE)," the protocol says. 
             </p>
             <p>
                If there is a persistent dry cough or sore throat, the Health Ministry recommends saline gargles (with turmeric and salt)
                 and steam inhalation. Cough medication should be taken on the advice of a doctor.
             </p>
            
   
            </div>
         </div>
         <div class="columns image" style="background-image:url('../static/images/health.jpeg')">
            &nbsp;
         </div>
      </div>
      <div class="section-container">
         <div class="columns image" style="background-image:url('../static/images/pc2.jpg')">
            &nbsp;
         </div>
         <div class="columns content">
            <div class="content-container">
    
               <h5>What precautions should I take after recovering from Covid-19?</h5>
             <p>
                Dr Syamasis Bandyopadhyay said people with co-morbidities like hypertension, diabetes, 
                cardiovascular diseases or renal failure should immediately go back to their ongoing/pre-Covid medication.
             </p>
             <p>
                "Because of Covid-19, people are stopping their normal treatment. Just because you have Covid-19, 
                it doesn't mean your diabetes has got better, or your blood pressure has improved. Secondly, after recovering, 
                one should consult a doctor and do some tests to see whether Covid-19 has had any impact on end organs like heart, kidney, liver.
                 He/she should get vaccinated 1-1.5 months after recovering from Covid-19,"  
             </p>
             <p>
                Other precautions include: staying hydrated and drinking plenty of fluids, practicing breathing exercises and meditation,
                 following a nutritious diet, getting adequate sleep, avoiding smoking and alcohol.
             </p>
            </div>
         </div>
      </div>
      <div class="section-container">
         <div class="columns content">
            <div class="content-container">
                  <h5>When can I resume workout, exercises after recovering?</h5>
                  <p>
                    One key concern of people after Covid-19 recovery is about the right time to resume workout sessions.
                     "The ideal way is to start slow and do low-intensity exercises and perform any activity for 5-10 minutes a day. 
                     You can start with jogging or walking in the first week of post-Covid recovery.
                      In the second week, you can double the timing and increase the pace," said Dr Abhishek Bansal.
                   </p>
                   <p>
                    The Hospital for Special Surgery (HSS) Sports Medicine Institute in New York recently published
                     a set of guidelines for people to return safely to their workout regimen after Covid-19. 
                   </p>
                   <p>
                    "Those dealing with respiratory symptoms like pneumonia, it is best to rest for a week or 10 days before resuming workout routine. 
                    Those suffering from chronic
                     cardiac issues should take a break of 2-3 weeks before returning to any form of exercise regimen," the guidelines suggest. 
                   </p>
   
            </div>
         </div>
         <div class="columns image" style="background-image:url('../static/images/pc5.jpg')">
            &nbsp;
         </div>
      </div>
    