<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Immunity Boosting Food</title>
    <link rel="stylesheet" href="../static/css/tile.css">
</head>
<body>
    <div class="container">
        <div class="box row">
             <div class="imgBox">
                <img class="imgs" src="../static/images/vitamin a.jpeg">
             </div>
              <div class="details">
                <div class="content">
                    <h2>VITAMIN A</h2>
                   <P>
                       Vitamin A  is a micronutrient that is crucial for maintaining vision,
                        promoting growth and development, and protecting epithelium and mucus integrity in the body.
                       Vitamin Ais known as an anti-inflammation vitamin because of its critical role in enhancing immune function.
                     
                   </P>
                </div>
            </div>
        </div>
        <div class="box"> 
             <div class="imgBox">
               <img class="imgs" src="../static/images/Vitamin-B6.jpg">
             </div>
        <div class="details">
            <div class="content">
                <h2>VITAMIN B6</h2>
               <P>
                Vitamin B6 is essential to keeping your immune system in top condition.
                Be sure to get enough vitamin B as a supplement, as part of your daily diet
                 or in a multivitamin.    
               </P>
            </div>
        </div>
    </div>
        <div class="box">  
            <div class="imgBox">
            <img class="imgs" src="../static/images/vitamin c.jpeg">
        </div>
        <div class="details">
            <div class="content">
                <h2>VITAMIN C</h2>
               <P>
                   This vitamin supports the function of various immune cells and enhances their ability
                    to protect against infection. It’s also necessary for cellular death, which helps keep
                     your immune system healthy by clearing out old cells and replacing them with new ones 
                 
               </P>
            </div>
        </div>
    </div>
        <div class="box">
            <div class="imgBox">
                <img class="imgs" src="../static/images/vitamin d.jpg">
            </div>
            <div class="details">
                <div class="content">
                    <h2>VITAMIN D</h2>
                   <P>
                    The primary function of vitamin D is to help your body maintain optimal blood levels of calcium and phosphorous,
                     which you can get through exposure to the sun’s ultraviolet rays, or through supplements and the foods you eat. 
                     
                   </P>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="imgBox">
                <img class="imgs" src="../static/images/vitamin e.jpg">
            </div>
            <div class="details">
                <div class="content">
                    <h2>VITAMIN E</h2>
                   <P>
                       The body needs vitamin E to boost its immune system so that it can fight off invading bacteria and viruses.
                       It helps to widen blood vessels and keep blood from clotting within them.
                     
                   </P>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="imgBox">
                <img class="imgs" src="../static/images/zinc.png">
            </div>
            <div class="details">
                <div class="content">
                    <h2>ZINC RICH FOOD</h2>
                   <P>
                    Popping a zinc throat lozenge, or taking an over-the-counter cold remedy with zinc in it 
                    helps shorten the length of rhinovirus colds. Zinc also helps symptoms—nasal congestion,
                     nasal drainage, sore throat, and cough—resolve sooner.
                     
                   </P>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="imgBox">
                <img class="imgs" src="../static/images/iron.jpg">
            </div>
            <div class="details">
                <div class="content">
                    <h2>IRON</h2>
                   <P>
                      Iron is an essential mineral for both first and secondary immune response.
                       Iron plays an important role in the immune system and iron stores are carefully controlled by the body.
                      Having too little iron degrades non-specific immunity, which is your body’s first line of defence against pathogens. 
                     
                   </P>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="imgBox">
                <img class="imgs" src="../static/images/elderberry.jpg">
            </div>
            <div class="details">
                <div class="content">
                    <h2>ELDERBERRY</h2>
                   <P>
                    Full of antiviral and anti-inflammatory properties, elderberry syrup is used as a remedy for colds,
                     flus, and bacterial sinus infections. Elderberry works by reducing swelling in the mucus membranes.
                   </P>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>