 <nav class="navbar navbar-expand-md  py-1 ">

      <!-- Brand -->
      <a class="navbar-brand font-weight-bold " href="#" style="font-size: 2.5em;">COVID 19</a>

      <button class = "navbar-toggler" type="button" data-toggle="collapse" style="color : hsl(0, 0%, 100%), background-color: hsl(0, 0%, 100%) !important" data-target="#collapsenavbar">
        <span class="navbar-toggler-icon">--</span>
      </button>
      <div class="navbar-collapse text-center text-white" id="collapsenavbar">
        <ui class="navbar-nav ml-auto py-3">
            <li class="nav-item">
                <a href="home" class="nav-link text-white font-weight-bold">HOME</a>
            </li>
            <li class="nav-item">
                <a href="guidelines" class="nav-link text-white font-weight-bold">GUIDELINES</a>
            </li>
            <li class="nav-item">
                <a href="about" class="nav-link text-white font-weight-bold">ABOUT</a>
            </li>
            <li class="nav-item">
                <a href="status" class="nav-link text-white font-weight-bold">STATUS</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link text-white font-weight-bold">HELP</a>
            </li>
            <li class="nav-item">
                <a href="https://zxpagcfxuab.typeform.com/to/g9gt1jAS" class="nav-link text-white font-weight-bold">CONTACT</a>
            </li>
        </ui>
    </div>
      
    </nav>